{#=====================================================
  404 missing resource page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - Not Found!

{% endblock %}


{% block content %}

    <h1>Not Found!</h1>

    <p>Sorry, but that resource could not be found</p>

{% endblock %}

