{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Team Tracker 5000

{% endblock %}


{% block content %}

    <h1>Teams</h1>

    <section class="teams">

        {% for team in teams %}

            <article>
                <a href="/team/{{ team.code }}">
                    <h2>{{ team.name }}</h2>

                    <img src="/image/{{ team.code }}" alt="Logo for {{ team.name }}">
                </a>
            </article>

        {% else %}

            <p>None!</p>

        {% endfor %}

    </section>

    <details class="new-team">

        <summary role="button">Add a New Team...</summary>

        <article>

            <form action="/add" method="POST" enctype="multipart/form-data">

                <input
                    type="text"
                    name="code"
                    placeholder="Team code"
                    required
                >

                <input
                    type="text"
                    name="name"
                    placeholder="Team name"
                    required
                >

                <input
                    type="text"
                    name="description"
                    placeholder="Team description"
                    required
                >

                <input
                    type="url"
                    name="website"
                    placeholder="Team website"
                    required
                >

                <input
                    type="file"
                    name="image"
                    accept=".jpeg,.jpg,.png,.avif,.gif,.svg"
                    required
                >

                <button>Add Team</button>

            </form>
        </article>
    </details>

{% endblock %}

