{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Legandary Vehicles - Home

{% endblock %}


{% block content %}

    <h1>Makes</h1>

    <section class="makes">

        {% for Makes in Makes %}

            <article>
                <a href="/Makes/{{ Makes.maker }}">
                    <h2>{{ Makes.maker }}</h2>
                </a>
            </article>

        {% else %}

            <p>None!</p>

        {% endfor %}

    </section>

    <details class="new-team">

        <summary role="button">Add a New Maker...</summary>

        <article>

            <form action="/add" method="POST" enctype="multipart/form-data">

                <input
                    type="text"
                    name="region"
                    placeholder="Region"
                    required
                >

                <input
                    type="text"
                    name="name"
                    placeholder="Maker"
                    required
                >

                <button>Add Team</button>

            </form>
        </article>
    </details>

{% endblock %}

