{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

    <h1>Flask Demo App with Turso DB and Images</h1>

    <p>This is a simple Flask app that connects to a Turso database to save and retrieve data, including images. This can be used as the basis of your web app.</p>

    <p>It includes...</p>

    <ul>
        <li>Example routes</li>
        <li>Example static pages</li>
        <li>Missing page and server error pages</li>
        <li>DB connection and error handling</li>
        <li>Example CRUD actions: Create and Delete</li>
        <li>Uploading and saving images to the DB</li>
        <li>Retrieval of saved images</li>
        <li>Flash messages for information</li>
    </ul>

    <a href="/things" role="button">Go to the Things...</a>

{% endblock %}

