{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Legandary Vehicles - {{ Makes.maker }}

{% endblock %}


{% block content %}

    <h1>{{ Makes.maker }}</h1>

    <section class="team-info">

        <article>

        <h2>{{ Makes.maker }}</h2>
        <h3>{{ Makes.region }}</h3>

        </article>

        <article>

            <h3></h3>

            <ul>
                {% for vehicle in vehicles %}

                    <li>
                        {{ vehicle.model }}

                        {% if vehicle.price %}
                            - {{vehicle.price}}
                        {% endif %}
                    </li>

                {% else %}

                    <p>None!</p>

                {% endfor %}
            </ul>


            <details>

                <summary role="button">Add a New Vehicle...</summary>

                <form action="/add-player" method="POST">


                    <input
                        type="text"
                        name="name"
                        placeholder="Vehicle model"
                        required
                    >

                    <input
                        type="int"
                        name="price"
                        placeholder="vehcile price"
                    >

                    <button>Add Vehicle</button>

                </form>

            </details>

        </article>

    </section>


{% endblock %}

